@import "bourbon";
@import "neat";
@import "base/variables";

.ec {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $super-light-gray;
  float: left;
  width: 100%;
  @import "base/tables";
  @import "base/forms";
  @import "base/typgraphy";
  @import "components/vertical-tabs";
  @import "components/horizontal-tabs";
  @import "components/buttons";
  @import "components/structure";
  @import "components/navigation";
  @import "components/helpers";
  @import "components/loader";
  @import "components/template-list";
  
  a, .hover {
    color: $base-accent-color;
    cursor: pointer;
  }
  
  .active {
    color: $base-accent-color;
  }
  
  .container {
    clear: both;
  }
  .Scp {
    position: absolute;
    margin-top: 5px;
    width: 200px;
    height: 150px;
    border: 1px solid $light-gray;
    border-radius: 3px;
  }
  .header {
    margin-bottom: 20px;
    background-color: #333;
    width: 100%;
    display: inline-block;
    position: relative;
    min-height: 48px;
    .logo {
      text-align: right;
      color: white;
      font-weight: 100;
      font-size: 1.5em;
      position: absolute;
      bottom: 4px;
      right: 15px;
    }
    .navigation {
      margin-left: 10px;
      margin-top: 10px;
      float: left;
      .tab-link a {
        text-decoration: none;
        color: white;
      }
      
      .tab-link.is-active {
        background: $super-light-gray;
        border: none;
        a {
          color: $base-accent-color;
        }
      }
    }
    &:after {
      clear: both;
    }
  }
  .revisionElement {
    margin-top: 20px;
    border: 1px solid $light-gray;
    background: white;
    padding: 20px;
    display: block;
    float: left;
    width: 100%;
  }

  .objectArray {
    border: 1px solid $light-gray;
    display: inline-block;
    width: 100%;

    .title {
      padding: 7.5px 10px;
      width: 100%;
      float: left;
      background: $super-light-gray;
      h4, h5 {
        float: left;
      }
      .btn {
        float: right;
      }
    }
    .list {
      width: 100%;
      float: left;
      .item {
        .title {
          border-bottom: 1px solid $light-gray;
          border-top: 1px solid $light-gray;
        }
        width: 100%;
        float: left;
        .options {
          float: left;
          width: 100%;
          padding-top: 20px;
        }
      }
    }
  }

  .arrayArray {
    border: 1px solid $light-gray;
    display: inline-block;
    width: 100%;

    .title {
      padding: 7.5px 10px;
      width: 100%;
      float: left;
      background: $super-light-gray;
      h4, h5 {
        float: left;
      }
      .btn {
        float: right;
      }
    }

    input {
      display: inline-block;
    }
  }
  
  .readOnlyBox {
    border: 1px solid $light-gray;
    background: white;
    padding: 10px 20px;
    display: block;
    margin-bottom: 10px;
  }
  .titleBar {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    h3 {
      float: left;
    }
    .btn {
      margin-left: 10px;
      float: right;
    }
  }
  
  .file_drop {
    padding: 50px;
    background: $light-gray;
  }
  
}
