﻿@{


var items = (IEnumerable<Dashboard.Models.DashboardPage>)ViewData["Dashboards"];

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Dashboard</title>
   
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/MDBootstrap/css/mdb.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
		<link href="~/lib/toastr/toastr.min.css" rel="stylesheet"/>
    
        
     <meta charset="UTF-8">
 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>



	<script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/lib/handsontable/dist/handsontable.full.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-3d.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-more.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/funnel.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/heatmap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/solid-gauge.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/treemap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/boost.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/no-data-to-display.js"></script>
    <script type="text/javascript" src="~/custom_modules/easycharts/dist/ec.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="~/lib/handsontable/dist/handsontable.full.css">



<script src="~/lib/knockout/dist/knockout.js"></script>

  
    <!--<script src="../custom_modules/gridstack/gridstack.jQueryUI.js"></script>-->
   
</head>
<body>



   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
          
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                               @foreach (var item in items)
                                {
                                 <li><a asp-area="@item.ID" asp-controller="Page" asp-action="Render">@item.PageName</a></li>  
                                }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
       
                <br>
                 @{foreach (var item in items)
                                {
                                    item.ToString();
                                }
                 }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Indigo Mountain</p>
        </footer>
    </div>

    
        <!--<script src="~/lib/jquery/dist/jquery.js"></script>-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/MDBootstrap/js/mdb.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
 
       
    
        
    

    @RenderSection("scripts", required: false)


<div id="LicSettings" class="modal fade" role="dialog">
      <div class="modal-dialog">
 
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Activate Licence</h4>
              </div>
              @using (Html.BeginForm("SetLicence", "Licence", FormMethod.Post)) {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                  <div class="modal-body">
                      
                      <input type="text" placeholder="Licence Code" name="_licencekey">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="cancel" data-dismiss="modal">Close</button>
                      <button type="submit" class="ConfigSettings">Save</button>
                  </div>
              }   
          </div>
 
      
      </div>
            </div>
            @await Component.InvokeAsync("NToastNotify.Toastr")
</body>
</html>
