@model VMLicence

@{
    ViewData["Title"] = "Home Page";
    var email = @Model.Data.Email.ToString();
    }
<!-- <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Licenced Company</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-md-8 col-sm-9">
                    @using (Html.BeginForm("Create", "Home", FormMethod.Post)) {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                <div class="modal-body">
                      <div class="form-group">
                        @Html.LabelFor(model => model.Data.Name, htmlAttributes: new { @class = "control-label " }) @Html.DisplayFor(model => model.Data.Name, new { htmlAttributes = new {  } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Data.Company, htmlAttributes: new { @class = "control-label " }) @Html.DisplayFor(model => model.Data.Company, new { htmlAttributes = new {  } })
                       
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Data.Email, htmlAttributes: new { @class = "control-label " }) @Html.DisplayFor(model => model.Data.Email, new { htmlAttributes = new {  } })
                      
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Data.Phone, htmlAttributes: new { @class = "control-label " }) @Html.DisplayFor(model => model.Data.Phone, new { htmlAttributes = new {  } })
                       
                    </div>
                      
                  </div>
                  
              }   
                </div>
	                <div class="col-md-4">
	              
	                    <a href="#ConfigSettings" class="ConfigSettings btn btn-default btn-block" data-toggle="modal" data-target="#ConfigSettings">Add Your Company</a>
	        
	                </div>
            </div>
        </div>
        <div id="ConfigSettings" class="modal fade" role="dialog">
      
 
      
      </div>
    </div>
           
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dashboard Licence</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Licence Key</th>
                            <th>Email</th>
                            <th>Expires On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lics in Model.Keys)
                        {
                            <tr>
                                <td> @Html.DisplayFor(model => lics.licence_key, new { htmlAttributes = new {  } })</td>
                                <td> @Html.DisplayFor(model => model.Data.Email, new { htmlAttributes = new {  } })</td>
                                <td> @Html.DisplayFor(model => lics.expiration)</td>
							
							</tr>
						}
                    </tbody>
 
                </table>
                   
                </div>
                <div class="col-md-4">
                            <a href="#LicSettings" class="LicSettings btn btn-default btn-block" data-toggle="modal" data-target="#LicSettings">Activate Licence</a>
                </div>
                <div id="LicSettings" class="modal fade" role="dialog">
      <div class="modal-dialog">
 
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Activate Licence</h4>
              </div>
              @using (Html.BeginForm("SetLicence", "Licence", FormMethod.Post)) {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                  <div class="modal-body">
							<div>
						<input type="text" placeholder="Email Address" name="_EmailAddress">
								</div>
							<div>
                      	<input type="text" placeholder="Licence Code" name="_licencekey">
								</div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="cancel" data-dismiss="modal">Close</button>
                      <button type="submit" class="ConfigSettings">Save</button>
                  </div>
              }   
          </div>
 
      
      </div>
            </div>
        </div>
    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Kace Server Settings</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                    <b>Server</b> : @Html.DisplayFor(model => model.Kace.ConnectionString, new { htmlAttributes = new {  } })
                    <hr>
                    
                    
                    <hr>
                    <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kace Queue ID</th>
                            <th>Kace Queue Name</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lics in Model.Kace.queues)
                        {
                            <tr>
                                <td> @Html.ActionLink("Remove", "DeleteKaceQueue", new { id = lics.KaceID })  </td>
                                <td> @Html.DisplayFor(model => lics.KaceID, new { htmlAttributes = new {  } })  </td>
                                <td> @Html.DisplayFor(model => lics.Name, new { htmlAttributes = new {  } })</td>
                             
 
                            </tr>
                        }
                    </tbody>
 
                </table>

                
               
				@if(Model.DashboardPages.Count()>0)
				{
				<div class="panel panel-default">
	        		<div class="panel-heading">
						<h3 class="panel-title">Dashboards</h3>
					</div>
        				<div class="panel-body">
							<table class="table">
			                    <thead>
			                        <tr>
			                            <th></th>
			                            <th>Dashboard Name</th>
			                           
			                            
			                        </tr>
			                    </thead>
			                    <tbody>
			                        @foreach (var lics in Model.DashboardPages)
			                        {
									var Modify = "<a href='{Modify}'>Modify</a>";
								Modify = Modify.Replace("{Modify}","/Page/AddChartToPage/"+lics.ID);
			                            <tr>
			                                <td> @Html.ActionLink("Remove Dashboard", "Delete", "Page", new { input = lics.ID })  </td>
			                                <td> @Html.DisplayFor(model => lics.PageName, new { htmlAttributes = new {  } })  </td>
			                                <td> @Html.Raw(Modify)</td>
			                             
			 
			                            </tr>
			                        }
			                    </tbody>
			 
			                </table>
						</div>
				</div>

                }


               
                </div>


                
                <div class="col-md-4">

        <a href="#KaceConfigSettings" class="KaceConfigSettings btn btn-default btn-block" data-toggle="modal" data-target="#KaceConfigSettings">Update Kace Connection</a>
    <table class="table">


                        @foreach (var item in Model.KaceQueues) {
                            <tr>
                                <td>
                                        @Html.ActionLink("Add", "AddKaceQueue", new { id = item.key })
                                </td>
                                <td>@item.key</td> 
                                <td>@item.val</td> 
                                

                            </tr>
                        }

                        </table>
    </div>


      <div id="KaceConfigSettings" class="modal fade" role="dialog">
      <div class="modal-dialog">
 
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">KACE Server Configuration Settings</h4>
              </div>
						
							
              @using (Html.BeginForm("SetKaceSettings", "Licence", FormMethod.Post)) 
				{
						@Html.AntiForgeryToken()
			            @Html.ValidationSummary(true)
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12">


										
								 			Server Name <input type="text" placeholder="Server" name="KCon_Server" autocomplete="false">
			  							 	Password <input type="password" placeholder="Password" name="KCon_Password" autocomplete="false">
											ORG <input type="text" placeholder="ORG" name="KCon_ORG" autocomplete="off">
							
										</div>						
									</div>
               				</div>
                  </div>	
                  <div class="modal-footer">
                    
                      <button type="button" class="cancel" data-dismiss="modal">Close</button>
                      <button type="submit" class="ConfigSettings">Save</button>
                  </div>
              } 
          </div>
 
      
      </div>
      </div>

   </div>
   </div>
 </div>
      