$breakpoint_1 : '600px';
$breakpoint_2 : '800px';

// Font Sizes
$base-font-size: 14px;
$base-font-family: sans-serif, Arial, Verdana, 'Trebuchet MS';
$h1-font-size: $base-font-size * 2;
$h2-font-size: $base-font-size * 1.75;
$h3-font-size: $base-font-size * 1.5;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size * 1.125;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * .8em;
$base-z-index: 0;
$small-spacing: $base-spacing/2;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$super-light-gray: 	#F5F5F5;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;
$secondary-background-color: $super-light-gray;
// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;


// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;

// Animation

$base-duration: 0.2s;
$base-timing: ease-in;
