@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<div class="pull-left">
        <li><a href="#add_project" class="add-project" data-toggle="modal" data-target="#add_project"><i class="fa fa-plus" aria-hidden="true"></i>  Add New Item</a></li>
    </div>

      <div id="add_project" class="modal fade" role="dialog">
      <div class="modal-dialog">
 
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Common Known Error</h4>
              </div>
              @using (Html.BeginForm("Create", "PMTickets", FormMethod.Post)) {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                  <div class="modal-body">
                      <input type="text" placeholder="PM Ref" name="pmref">
                      <input type="text" placeholder="Parent Incident" name="parentincident">
                      <input type="text" placeholder="Open Date" id="datepicker" name="opendate">
                      <input type="text" placeholder="System" name="system">
                      <input type="text" placeholder="Title" name="title">
                      <input type="text" placeholder="LWI" name="LWI">
                      <textarea placeholder="Workaround" name="workaround"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="cancel" data-dismiss="modal">Close</button>
                      <button type="submit" class="add-project">Save</button>
                  </div>
              }   
          </div>
 
      </div>
      </div>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
