
@model ChartPage
 @{
     var count = "sdsd";
 }   
<html>
     <table class="table">
                    <thead>
                        <tr>
                            <th>Licnece Key</th>
                            <th>Product ID</th>
                            <th>Expires On</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
 
                </table>
</html>