@model Dashboard.Models.DashboardChart
@{
    Layout = null;
    var chart2 = Model;
}
@{
    var data = Model;

    var configedchart = System.Net.WebUtility.HtmlDecode(@ViewData["ChartSettings"].ToString());
    var height = @ViewData["Height"];
    var keep = "";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js" charset="utf-8"></script> 
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="~/lib/lodash/lodash.min.js"></script>-->
<script src="~/lib/knockout/dist/knockout.js"></script>

   <script type="text/javascript" src="~/lib/handsontable/dist/handsontable.full.js" charset="utf-8"></script>  
    <script type="text/javascript" src="~/lib/highcharts/highcharts.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-3d.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/highcharts-more.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/funnel.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/heatmap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/solid-gauge.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/treemap.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/boost.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="~/lib/highcharts/modules/no-data-to-display.js"></script>
    <script type="text/javascript" src="~/easychart/dist/ec.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/handsontable/dist/handsontable.full.css">

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="~/lib/lodash/lodash.min.js"></script>-->
<script src="~/lib/knockout/dist/knockout.js"></script>

 
@{ViewBag.Title = "Athena/Dentrix Support";}
<meta http-equiv="refresh" content="3000">


<script type="text/javascript">
      var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight || e.clientHeight || g.clientHeight;







</script>

<script>
        function gogo() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#panel1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 105;
             headerpx = 0;
             mid = 2;
             y = y - headerpx;
             va = y / mid;

            //  fma1 = document.getElementById('framemaina1');
            //  fma2 = document.getElementById('framemaina2');
            //  fma3 = document.getElementById('framemaina3');
            //  fmb1 = document.getElementById('framemainb1');
            //  fmb2 = document.getElementById('framemainb2');
            //  fmb3 = document.getElementById('framemainb3');

            //  heightforb = (firstpqnel - 5) / 2;

            //  fma1.style.height = heightforb + "px";
            //  fma2.style.height = heightforb + "px";
            //  fma3.style.height = heightforb + "px";
            //  fmb1.style.height = heightforb + "px";
            //  fmb2.style.height = heightforb + "px";
            //  fmb3.style.height = heightforb + "px";

        }

        window.onload = gogo;;



        $(function () {
            var iframes = $('iframe[name=frameMain]');
            var height = 0;

            setInterval(function () {
                var current_height = y; //$('div.panel-body:first').height();

                if (current_height != height) {
                    console.log('changed from ' + height + ' to ' + current_height);

                    height = current_height;

                    iframes.each(function () {
                        this.src = $(this).data('src') + '&height=' + current_height +"px";
                    });
                }
            }, 1000);
        });

</script>

<div id="container" class="container"></div>
<script>

var cd ;
var chart1 ;
var configdatadata ;
var configdataafter ;
    document.addEventListener("DOMContentLoaded", function () {

        var configdata = JSON.parse(@Html.Raw(@configedchart));
        configdatadata  = configdata;

        if(!configdata.chart.height){
                configdata.chart.height = @height;
        }
        else{

        }



        var chart = new ec({
            element     : document.getElementById('container'),
            // dataUrl     : '/dashboard/chart/?QueryData=@chart2.SQLDataID&Queue=@chart2.QueueID',
            dataUrl     : '/chart/?QueryData=@chart2.SQLDataID&Queue=@chart2.QueueID',
            // weird thing to hide all tabs when using the app-build, but from now on -at last- it's possible :-D
          //  config      : configdata,
           // dataTab     : false,
          //  templatesTab: false,
          //  customiseTab: true,
            UIMode: 'viewer'
        });
        cd =  configdata ;
        //chart.setTemplates(configdata);
        //chart.setDataUrl('/dashboard/chart/?QueryData=@chart2.SQLDataID&Queue=@chart2.QueueID');
        chart.setDataUrl('/chart/?QueryData=@chart2.SQLDataID&Queue=@chart2.QueueID');
        chart.setConfig(configdata);

        chart1 = chart;

    });

</script>


 



<div class="container-fluid">
    @*<h1>RTL Demo</h1>*@

    @*<div>
        <button data-bind="click: addNewWidget">Add new widget</button>
    </div>

    <br>*@

   
</div>



<br />

<div class="row">
    <div class="clearfix"></div>
</div>

<!---->

       <div id="container" class="container"></div>





<!--<div class="col-lg-4 col-md-4 col-sm-4">
<iframe name="frameMain" id="framemaina1" width="100%" height="100%" frameBorder="1" scrolling="no" src="http://www.travelsouthyorkshire.com/sbp/"></iframe>

    <iframe name="frameMain" id="framemaina1" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByStatus", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemaina2" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByPriority", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">

    <iframe name="frameMain" id="framemaina3" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByCategory", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb1" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByTech", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb2" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "ClosedByTechToday", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb3" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "ClosedByCategoryToday", new {queue=8})'></iframe>
</div>
-->

