﻿
@using Microsoft.AspNetCore.Identity
@using Dashboard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Dashboard.ViewModels.VMLicence

       
   





    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Kace Server Settings</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                     @if (SignInManager.IsSignedIn(User))
					{
						<div>
                    		<b>Server</b> : @Html.DisplayFor(model => model.Kace.ConnectionString, new { htmlAttributes = new {  } })
                    	</div>
					}
					else 
					{
						<div>Login to View Current Server Settings</div>
					}

               
                </div>


                
                <div class="col-md-4">

						@if (SignInManager.IsSignedIn(User))
						{
        <a href="#KaceConfigSettings" class="KaceConfigSettings btn btn-default btn-block" data-toggle="modal" data-target="#KaceConfigSettings">Update Kace Connection</a>
						
						}
						else
						{
						 <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-default btn-block">Log in</a>
						}
  
    </div>


      <div id="KaceConfigSettings" class="modal fade" role="dialog">
      <div class="modal-dialog">
 
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">KACE Server Configuration Settings</h4>
              </div>
              @using (Html.BeginForm("SetKaceSettings", "Licence", FormMethod.Post)) {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                  <div class="modal-body">
							<div>
								 <input type="text" placeholder="Server" name="KCon_Server">
							</div>
							<div>
								 <input type="password" placeholder="Password" name="KCon_Password">
							</div>
							<div>
								 <input type="text" placeholder="ORG" name="KCon_ORG">
							</div>
						
							
                
                  </div>
                  <div class="modal-footer">
                      
                      <br/>
                      <button type="button" class="cancel" data-dismiss="modal">Close</button>
                      <button type="submit" class="ConfigSettings">Save</button>
                  </div>
              }   
          </div>
 
      
      </div>
      </div>

   </div>
   </div>
 </div>