
@model DashboardChartCreate

@{
    ViewBag.Title = "Create";
    ViewBag.Drop =  Model.SqlDataList; 
    bool saved = (bool)@ViewData["Saved"];
}

<h2>Add Chart to Page</h2>


@using (Html.BeginForm(FormMethod.Post)) 
{
   
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />

	<div class="row">
		<div class="col-md-6">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        		<div class="form-group">
		
	            	@Html.LabelFor(model => model.SQLDataChartID, htmlAttributes: new { @class = "control-label col-md-2" })
	            	<div class="col-md-10">
	               		@Html.DropDownListFor(model => model.SqlDataID, Model.SqlDataList)
	            	</div>
        		</div>

		        <div class="form-group">
		            @Html.LabelFor(model => model.Queue, htmlAttributes: new { @class = "control-label col-md-2" })
		            <div class="col-md-10">
		               @Html.DropDownListFor(model => model.QueueID, Model.QueueDataList) <br> <a title="AddQueue" href="/dashboard/Licence" >Add a Queue </a>
		            </div>
		        </div>
        		@Html.HiddenFor(model => model.DashboardPageID)
    
    
     
		        <div class="form-group">
		            <div class="col-md-offset-2 col-md-10">
		                <input type="submit" value="Add Chart" class="btn btn-default" />
		                @if(saved == true)
		            {
		                <P>Saved</P>
		            }
		            </div>
		            
		        </div>
    	</div>
	<div class="col-md-6">
    @if(Model.DashboardChartsAlreadyIn.Count() > 0)
    {
    <table class="table">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Chart Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
    @foreach (var item in Model.DashboardChartsAlreadyIn)
	{
	 var urlUp = "<a href='{Modify}'>Move Up</a>";
		var urlDel ="<a href='{Modify}'>Delete</a>";
					urlUp = urlUp.Replace("{Modify}", "/Page/ChartMover?id="+@item.IdDashboardCharts +"&Direction=Up");
					urlDel = urlDel.Replace("{Modify}", "/Page/ChartMover?id="+@item.IdDashboardCharts +"&Direction=Remove");
                            <tr>
                                <td> @Html.DisplayFor(model => item.Orderby, new { htmlAttributes = new {  } })</td>
                               <td> @Html.DisplayFor(model => item.DashboardSavedData_ItemID, new { htmlAttributes = new {  } })</td>
						
						<td> @Html.Raw(urlUp) || @Html.Raw(urlDel) </td>
								
							</tr>
						
		
	}
    
       </tbody>
 
                </table>
                   
     }      
	</div>
	</div>
	</div>
}

