﻿@using Microsoft.AspNetCore.Identity
@using Dashboard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<DashboardChart>
    @{
        var rows = @ViewData["Rows"];
        var Lic = @ViewData["LIC"];
	var nextpage = "Render?area="+@ViewData["nextpage"];
        bool showlicence = false;
        if (Lic != "OK")
        {
            showlicence = true;
        }

    }

<meta http-equiv="refresh" content="3000, @nextpage">
<style>
    .no-scroll{
        overflow: hidden!important;
    }
</style>
<script type="text/javascript">


        function formatXAxis() {
            return this.value; // clean, unformatted number for year
        }

        function formatYAxis() {
            return this.value / 1000 + 'k';
        }
        
        
        

</script>



    <script>

  
        var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight || e.clientHeight || g.clientHeight;

        function t() {
            
        }

        

        window.onload = t;
        window.onresize = t;
       
    </script>
    
  <script>
        function gogo() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#framemaina1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 95;
             headerpx = 15;//300;
             mid = 2;
             y = y - headerpx;
             va = y / mid;
             heightforb = (firstpqnel - 15) / @rows;
             
             if ('@showlicence' == 'True')
            {
                alert("Product has expired");

            }
            else 
            {
               
            }

        }

        window.onload = gogo;;
        var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#framemaina1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 105;
            headerpx = 15;//300;
             mid = 2;
             y = y - headerpx;
             va = y / mid;
             heightforb = (firstpqnel - 80) / @rows;

        console.log("jh height"+heightforb);

        //heightforb = (heightforb / 2) ;
        
        $(function () {
            var iframes = $('iframe[name=frameMain]');
            iframes.each(function () {
                        console.log('in foreach');
                        this.src = $(this).data('src') + '?height=' + heightforb;
                        this.height = heightforb +"px" ;
                    });
            var height = 0;
            
            $('body').addClass('no-scroll');
/*
            setInterval(function () {
                var current_height = $('iframe[name=frameMain]:first').parent().height();

                if (current_height != height) {
                    
                    console.log('changed from ' + height + ' to ' + heightforb);

                    height = current_height;

                    iframes.each(function () {
                        console.log('in foreach');
                        this.src = $(this).data('src') + '?height=' + heightforb; 
                        this.height = heightforb + 'px';
                    });
                }
            }, 100000)
            */
        });
    </script>

@{
    var data = Model;
    var chart2 = data.ElementAt(0);
    
    var jsonstring = ViewData["JSONSTRING"];
    var savedData = ViewData["SavedData"];
    var keep = "";
}

		
		
	
	

@foreach(var item in Model)
{
	
    
    @if(SignInManager.IsSignedIn(User))
    {
	var template = "<div class=\"{class}\"> <iframe name=\"frameMain\" id=\"framemaina1\" width=\"100%\" frameBorder=\"0\" scrolling=\"No\" src=\"{data-src}\" data-src='{data-src}' ></iframe><a href='{Modify}'>Edit</a><a href='{Resize}&resize=open'> <> </a> <a href='{Resize}&resize=close'> >< </a> <a href='{Export}'> Export </a> </div>";



    template = template.Replace("{class}", "col-lg-" + @item.Class_LG + " col-md-" + @item.Class_MG + " col-sm-" + @item.Class_SG);
    //template = template.Replace("{data-src}", "/dashboard/chart/showchartbyID/"+@item.IdDashboardCharts);
    template = template.Replace("{data-src}", "/chart/showchartbyID/" + @item.IdDashboardCharts);
    template = template.Replace("{Modify}", "/chart/ModifyChart/?id=" + @item.IdDashboardCharts);
   
    // template = template.Replace("{Modify}", "/dashboard/chart/ModifyChart/?id=" + @item.IdDashboardCharts);

    template = template.Replace("{Resize}", "/chart/Resize/?id="+@item.IdDashboardCharts);
    template = template.Replace("{Export}", "/chart/ExportChart/?id="+@item.IdDashboardCharts);
    @Html.Raw(@template) ;
    }
	else
	{
	var template = "<div class=\"{class}\"> <iframe name=\"frameMain\" id=\"framemaina1\" width=\"100%\" frameBorder=\"0\" scrolling=\"No\" src=\"{data-src}\" data-src='{data-src}' ></iframe></div>";
	template = template.Replace("{class}", "col-lg-" + @item.Class_LG + " col-mg-" + @item.Class_MG + " col-sg-" + @item.Class_SG);
	template = template.Replace("{data-src}", "/chart/showchartbyID/" + @item.IdDashboardCharts);
		@Html.Raw(@template) ;
	}
		
}
    
