@model IEnumerable<Dashboard.Models.DashboardChart>
<script type="text/javascript">

        function formatXAxis() {
            return this.value; // clean, unformatted number for year
        }

        function formatYAxis() {
            return this.value / 1000 + 'k';
        }


</script>



    <script>

  
        var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight || e.clientHeight || g.clientHeight;

        function t() {
            test.innerHTML = "x = " + x + "\ny = " + y;
        }

        

        window.onload = t;
        window.onresize = t;
       
    </script>
    
    <script>
        function gogo() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#framemaina1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 105;
            headerpx = 0;//300;
             mid = 2;
             y = y - headerpx;
             va = y / mid;
             heightforb = (firstpqnel - 5) / 1;
             
             
        }

        window.onload = gogo;;
        var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#framemaina1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 105;
            headerpx = 0;//300;
             mid = 2;
             y = y - headerpx;
             va = y / mid;
             heightforb = (firstpqnel - 5) / 1;

        console.log("jh height"+heightforb);
        $(function () {
            var iframes = $('iframe[name=frameMain]');
            iframes.each(function () {
                        console.log('in foreach');
                        this.src = $(this).data('src') + '?height=' + heightforb;
                        this.height = heightforb +"px" ;
                    });
            var height = 0;

            setInterval(function () {
                var current_height = $('div.panel-body:first').height();

                if (current_height != height) {
                    console.log('changed from ' + height + ' to ' + heightforb);

                    height = current_height;

                    iframes.each(function () {
                        console.log('in foreach');
                        this.src = $(this).data('src') + '?height=' + heightforb;
                        this.height = heightforb ;
                    });
                }
            }, 1000);
        });
    </script>

@{
    var data = Model;
    var chart2 = data.ElementAt(0);
    
    var jsonstring = ViewData["JSONSTRING"];
    var savedData = ViewData["SavedData"];
    var keep = "";
}

		
		
	
	

@foreach(var item in Model)
{
    
    var template = "<div class=\"{class}\"> <iframe name=\"frameMain\" id=\"framemaina1\" width=\"100%\" frameBorder=\"0\" scrolling=\"No\" src=\"{data-src}\" data-src='{data-src}' ></iframe><a href='{Modify}'>Edit</a></div>";
  
    
    
    template = template.Replace("{class}", @item.Class_LG + " " + @item.Class_MG + " " + @item.Class_SG);
    template = template.Replace("{data-src}", "/chart/showchartbyID/"+@item.IdDashboardCharts);
    template = template.Replace("{Modify}", "/chart/ModifyChart/?id=" + @item.IdDashboardCharts);
    @Html.Raw(@template) ;
    
}
    
