@model IEnumerable<Dashboard.Models.DashboardChart>

@{
    var data = Model;
    var chart2 = data.ElementAt(0);
    
    var jsonstring = ViewData["JSONSTRING"];
    var savedData = ViewData["SavedData"];
    var keep = "";
}

@{ViewBag.Title = "Athena/Dentrix Support";}
<meta http-equiv="refresh" content="3000">


<script type="text/javascript">


$(document).ready(function(){

 var t=JSON.stringify('@Model');
var tt = '@jsonstring';

 function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }

});



      var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight || e.clientHeight || g.clientHeight;


        function gogo() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;
             d = document.getElementById('#panel1');
             heightnotchanged = y;
             firstpqnel = heightnotchanged - 105;
             headerpx = 120+65;
             mid = 2;
             y = y - (headerpx);
             va = y / mid;
             $('.grid-stack').height(700);
             console.log(y + ' height of page');

            //  fma1 = document.getElementById('framemaina1');
            //  fma2 = document.getElementById('framemaina2');
            //  fma3 = document.getElementById('framemaina3');
            //  fmb1 = document.getElementById('framemainb1');
            //  fmb2 = document.getElementById('framemainb2');
            //  fmb3 = document.getElementById('framemainb3');

            //  heightforb = (firstpqnel - 5) / 2;

            //  fma1.style.height = heightforb + "px";
            //  fma2.style.height = heightforb + "px";
            //  fma3.style.height = heightforb + "px";
            //  fmb1.style.height = heightforb + "px";
            //  fmb2.style.height = heightforb + "px";
            //  fmb3.style.height = heightforb + "px";

        }

        window.onload = gogo;;



        $(function () {
            var iframes = $('iframe[name=frameMain]');
            var height = 0;
            $('.grid-stack').height(600);
            setInterval(function () {
                var current_height = y; //$('div.panel-body:first').height();
                
                if (current_height != height) {
                    console.log('changed from ' + height + ' to ' + current_height);

                    height = current_height;

                    iframes.each(function () {
                        this.src = $(this).data('src') + '&height=' + heightforb;
                    });
                }
            }, 1000);
        });

</script>




 
<style type="text/css">
    .grid-stack {
        background: lightgoldenrodyellow;
        height:600px !important;
         
    }

    .grid-stack-item-content {
        color: #2c3e50;
        background-color: white;
    }
</style>

<div class="container-fluid">
    @*<h1>RTL Demo</h1>*@

    @*<div>
        <button data-bind="click: addNewWidget">Add new widget</button>
    </div>

    <br>*@

    <div data-bind="component: {name: 'dashboard-grid', params: $data}"></div>
</div>

<script type="text/javascript">
var nodeoutput ;
        ko.components.register('dashboard-grid', {
            viewModel: {
                createViewModel: function (controller, componentInfo) {
                    var ViewModel = function (controller, componentInfo) {
                        var grid = null;

                        this.widgets = controller.widgets;

                        this.afterAddWidget = function (items) {
                            if (grid == null) {
                                grid = $(componentInfo.element).find('.grid-stack').gridstack({
                                    auto: false,
                                    cellHeight: 'auto',
                                    resizable: {
                                        handles: 'e, se, s, sw, w'
                                    }
                                }).data('gridstack');
                            }

                            var item = _.find(items, function (i) { return i.nodeType == 1 });
                            grid.addWidget(item);
                            ko.utils.domNodeDisposal.addDisposeCallback(item, function () {
                                grid.removeWidget(item);
                            });
                        };
                    };

                    return new ViewModel(controller, componentInfo);
                }
            },
            template:
                {
        
                    element:'gridstack-template'
                }
        });

        $(function () {
            var Controller = function (widgets) {
                var self = this;

                this.widgets = ko.observableArray(widgets);

                this.addNewWidget = function () {
                    this.widgets.push({
                        x: 0,
                        y: 0,
                        width: Math.floor(1 + 3 * Math.random()),
                        height: Math.floor(1 + 3 * Math.random()),
                        auto_position: true
                    });
                    return false;
                };

                this.deleteWidget = function (item) {
                    console.log(item.id)
               
                     $.ajax({
                        url: '@Url.Action("DeleteGridItem", "Page")',
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: {
                            id: item.url, 
                            pageID: @Model.ElementAt(0).DashboardPageID
                            }
                    });  
                    self.widgets.remove(item);
                    return false;
                };
                this.editWidget = function (item) {
                    console.log(item.id)
                  
                    //  $.ajax({
                    //     url: '@Url.Action("DeleteGridItem", "Page")',
                    //     type: 'POST',
                    //     dataType: "json",
                    //     contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    //     data: {
                    //         id: item.url, 
                    //         pageID: @Model.ElementAt(0).DashboardPageID
                    //         }
                    // });  

                    window.location.href = '@Url.Action("ModifyChart", "Chart")/?id=' +item.url;
                    return false;
            };
};

  var jsonData='@Html.Raw(jsonstring)';
  var savedData='@Html.Raw(savedData)';

var widgetList=[];
var data=JSON.parse(jsonData);
var widgetsData = [];
            var x = 0, y = 0;

$.each(data,function(n,ele){

  console.log(ele.IdDashboardCharts); 
    if(x == 12){
                    x = 0;
                    y = 7;
                }
  
        if(savedData == 'null'){
           widgetsData.push({
                    id: ele.IdDashboardCharts,
                    x: x,
                    y: 0,
                    width: 4,
                    height: 2,
                    boxheight:  999,
                    //url: "/chart/showchart/?QueryData=" + data[i].SQLDataID +"&Queue=" + data[i].QueueID
                    url: "/chart/ShowChartbyID/?id=" + ele.IdDashboardCharts
                });
        }else{
            console.log ($( "[id='"+savedData[n]._id +"']").height() + "px");

                   widgetsData.push({
                    _id: savedData[n]._id,
                    x: savedData[n].x,
                    y: savedData[n].y,
                    width: savedData[n].width,
                    height: savedData[n].height,
                    boxheight:  $( "[id='"+savedData[n]._id +"']").height() + "px",
                    //url: "/chart/showchart/?QueryData=" + data[i].SQLDataID +"&Queue=" + data[i].QueueID
                      url: "/chart/ShowChartbyID/?id=" + data[n].IdDashboardCharts
                   });
        }



x+=4;

});


            var widgets = [
    {
        "x": 0,
        "y": 0,
        "width": 4,
        "height": 2,
        'url':'/chart/showchart/?QueryData=408&Queue=8'
    },
    {
        "x": 4,
        "y": 0,
        "width": 4,
        "height": 2,
        'url':'/chart/showchart/?QueryData=408&Queue=8'
    },
    {
        "x": 8,
        "y": 0,
        "width": 4,
        "height": 2,
        'url':'~/chart/showchart/?QueryData=@chart2.SQLDataID&Queue=@chart2.QueueID'
    },
    {
        "x": 0,
        "y": 7,
        "width": 4,
        "height": 2
    },
    {
        "x": 4,
        "y": 7,
        "width": 4,
        "height": 2
    },
    {
        "x": 8,
        "y": 7,
        "width": 4,
        "height": 2
    }
            ];

            var controller = new Controller(widgetsData);
            ko.applyBindings(controller);
               setTimeout(function(){
            $('.grid-stack').on('change', function(event, items) { 


                var data = $.map($('.grid-stack .grid-stack-item:visible'), function (el) {
                    el = $(el);
                    var node = el.data('_gridstack_node');
                    return {
                        id: el.attr('id'),
                        x: node.x,
                        y: node.y,
                        width: node.width,
                        height: node.height
                        
                    };});

                    nodeoutput = node;
                $.ajax({
                        url: '@Url.Action("SaveGrid", "Page")',
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: { 
                            data: JSON.stringify(data), 
                            pageID: @Model.ElementAt(0).DashboardPageID
                        }
                }); 
            }).find('.grid-stack-item').each(function(index, item){ this.id = 'item-' + index;  }); 
            }, 100);
        });

        function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  } 
</script>

<div class="row">
    <div class="clearfix"></div>
</div>

<!---->

       <div id="container" class="container"></div>


<template id="gridstack-template" style="height:100% !important">
        <div class="grid-stack" data-bind="foreach: {data: widgets, afterRender: afterAddWidget}" style="height:100% !important">
           <div class="grid-stack-item"  style="height:100% !important" data-bind="attr: {'data-gs-x': $data.x, 'data-gs-y': $data.y, 'data-gs-width': $data.width, 'data-gs-height': $data.height, 'data-gs-auto-position': $data.auto_position}">
               <div class="grid-stack-item-content" style="height:100% !important">
                   
                   <button data-bind="click: $root.deleteWidget">Delete me</button>
                    <button data-bind="click: $root.editWidget">Edit me</button>                   
                   <div>
                       <iframe name="frameMain" id="framemaina1" frameBorder="1" scrolling="no" onload="resizeIframe(this)" data-bind="attr:{src:url}"></iframe>
                    
               </div>
                   
                   
                   </div>
               
           </div></div><!-- <---- NO SPACE BETWEEN THESE CLOSING TAGS -->
    </template>



<!--<div class="col-lg-4 col-md-4 col-sm-4">


    <iframe name="frameMain" id="framemaina1" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByStatus", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemaina2" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByPriority", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">

    <iframe name="frameMain" id="framemaina3" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByCategory", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb1" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "CurrentByTech", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb2" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "ClosedByTechToday", new {queue=8})'></iframe>

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    <iframe name="frameMain" id="framemainb3" width="100%" height="420px" frameBorder="1" scrolling="no" src="about:blank" data-src='@Url.Action("Index", "ClosedByCategoryToday", new {queue=8})'></iframe>
</div>
-->

